d02.txt
d03.txt
d04.txt
d05.txt
d06.txt
d07.txt
d08.txt
d09.txt
d10.txt
d11.txt
d12.txt
d13.txt
d14.txt
d15.txt
d16.txt
d17.txt
d18.txt
d19.txt
d20.txt
d21.txt
d22.txt
d23.txt
d24.txt

d02_m.txt
d03_m.txt
d04_m.txt
d05_m.txt
d06_m.txt
d07_m.txt
d08_m.txt
d09_m.txt
d10_m.txt
d11_m.txt
d12_m.txt
d13_m.txt
d14_m.txt
d15_m.txt
d16_m.txt
d17_m.txt
d18_m.txt
d19_m.txt
d20_m.txt
d21_m.txt
d22_m.txt
d23_m.txt
d24_m.txt

*.Rout